HW1 Pythobn Basics

Name: Anisul Arman

Course_ID: IS 362 Data Acquisition and Management .

In [2]:
# import all the neccesary libraries
import numpy as np
import pandas as pd

Assignment 1

In [1]:
one = 1
two = 2
three = 3
four = 4
can = 'can'
do = 'do'
python = 'python'
more = 'more'

print(one,two,three,four,can,do,python,more)

1 2 3 4 can do python more

Assignment 2

In [6]:
number1 = 15
number2 = 30

print(f"The Result is {np.multiply(number1,number2)}")

The Result is 450

Assignment 3

In [11]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def first_last_is_same(input_list):
    if input_list[0] == input_list[-1]:
        return "result is True"
    else:
        return "result is False"
    
print(first_last_is_same(numbers_x))
print(first_last_is_same(numbers_y))

result is True
result is False

Assignment 4

In [18]:
given_list = [10, 20, 33, 46, 55]

print('Divisible by 5')
for i in given_list:
    if i % 5 == 0:
        print(i)

Divisible by 5
10
20
55

Assignment 5

In [24]:
str_x = "Anjali is good developer. Anjali is a writer"

print(f"Anjali appeared {str_x.count('Anjali')} times")

Anjali appeared 2 times

Assignment 6

In [30]:
i = 1

while i <= 5:  
    print(f"{i} " * i)
    i += 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Assignment 7

Print a multiplication table from 1 to 100:

In [47]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i * j:2}", end=" ")
    print()

 1  2  3  4  5  6  7  8  9 10
 2  4  6  8 10 12 14 16 18 20
 3  6  9 12 15 18 21 24 27 30
 4  8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Assignment 8

Let’s now use Numpy to convert a list to an array.  First, convert the list of weights from a list to a Numpy array. 

Then, convert all of the weights from kilograms to pounds. 

Use the formula Celsius (°C) = Kelvin - 273.15 to convert Kelvin to Celsius. 

Lastly, print the resulting array of temperatures in Celsius.

In [52]:
weight_kg = [60, 80, 76, 60, 88, 85]
# convert the list to array
wkg_array = np.array(weight_kg)

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
# convert the list to array
temp_array = np.array(Temp_K)

# convert all the weight from kilogram to pounds
wkg_pounds = np.multiply(wkg_array,2.205)
print(f"Weight in Pounds {wkg_pounds}")

# onver all the temperature from kelvin to celsius
temp_celsius = temp_array - 273
print(f"Temperature Celsius (°C) {temp_celsius}")

Weight in Pounds [132.3   176.4   167.58  132.3   194.04  187.425]
Temperature Celsius (°C) [ 117.65 -165.48  -47.75    2.98   45.18 -184.55]

Assignmnet 9 and 10

Let’s build a Dataframe in Pandas.
a.	Use a dictionary to create four fields:

i.	Student (use Tommy, Fred, Gail, [your first name], Randy, and Ariel)

ii.	Hair Color (use Brown, Grey, Blonde, [your hair color] , Black and Brown)

iii.	Eye Color (use Hazel, Green, Blue, [your eye color], Hazel and Blue)

iv.	Weight in kilograms (60, 80, 76, 60, 88, 85)

b.	Index the dataframe

c.	Print out the entire dataframe

d.	# Print out hair color column as Pandas Series

e.	# Print out eye color column as Pandas DataFrame

f.	# Print out DataFrame with student and weight columns

g.	# Print out the second through fourth observations

In [ ]:
# a. Use a dictionary to create four fields
data = {
    'Student': ['Tommy', 'Red', 'Gail', 'Anisu', 'Randy', 'Ariel'],
    'Hair_Color': ['Brown', 'Grey', 'Blonde', 'Black', 'Black ','Brown'],  
    'Eye_Color': ['Hazel', 'Green', 'Blue', 'White and Black', 'Hazel','Blue'],  
    'Weight_kg': [60, 80, 76, 60, 88, 85]  
}

df = pd.DataFrame(data)

In [83]:
# b.	Index the dataframe
df.index = [i for i in range(1,len(df)+1)]

In [78]:
# c. Print out the entire dataframe
print(df)

  Student Hair_Color        Eye_Color  Weight_kg
1   Tommy      Brown            Hazel         60
2     Red       Grey            Green         80
3    Gail     Blonde             Blue         76
4   Anisu      Black  White and Black         60
5   Randy     Black             Hazel         88
6   Ariel      Brown             Blue         85

In [67]:
# d.	Print out hair color column as Pandas Series
print(type(df['Hair_Color']))
df['Hair_Color']

<class 'pandas.core.series.Series'>

Student
Tommy     Brown
Red        Grey
Gail     Blonde
Anisu     Black
Randy    Black
Ariel     Brown
Name: Hair_Color, dtype: object

In [66]:
# e.	Print out eye color column as Pandas DataFrame
eye_color_df = df[['Eye_Color']]
print(type(eye_color_df))
eye_color_df

<class 'pandas.core.frame.DataFrame'>

               Eye_Color
Student
Tommy              Hazel
Red                Green
Gail                Blue
Anisu    White and Black
Randy              Hazel
Ariel               Blue

In [81]:
# f.	Print out DataFrame with student and weight columns
df_2 = df[['Student','Weight_kg']]
df_2

  Student  Weight_kg
1   Tommy         60
2     Red         80
3    Gail         76
4   Anisu         60
5   Randy         88
6   Ariel         85

In [82]:
# g.	Print out the second through fourth observations
df.loc[2:4]

  Student Hair_Color        Eye_Color  Weight_kg
2     Red       Grey            Green         80
3    Gail     Blonde             Blue         76
4   Anisu      Black  White and Black         60