Week 5 Assignment

Name: Anisul Arman

Course_ID: IS 362 Data Acquisition and Management .

Tasks
1. Use the information in the .CSV files found at https://github.com/hadley/nycflights13/tree/master/data-raw for your source data.
2. Write your code using Python and pandas, and deliver it in a Jupyter notebook. You should post your notebook in a GitHub repository, and send me a link to the notebook.
3. For each of the three questions listed above, you’ll need to verify your answers (in two cases by searching for additional confirming information, and in the third case being alert for possible outliers). For the first two questions above, you may want to start by generating a list of the five northernmost or easternmost U.S. airports.
4. In addition to providing code, you should state your answers to each of the above questions (in Markdown) in the Jupyter notebook.
5. To receive full credit, you’ll need to include in your Jupyter notebook both your code and your documented assumptions and any changes that you made to the data based on your research (using Markdown) in your Jupyter notebook.

Your task in this week’s assignment is to answer three questions:
1. What is the northernmost airport in the United States?
2. What is the easternmost airport in the United States?
3. On February 12th, 2013, which New York area airport had the windiest weather?

Being successful on this assignment requires using both:

• Your developing skills in Python and pandas, and

• Your research skills in validating your candidate answers in context.

### To answer the questions above, i will be using the `airport.csv` and the `weather.csv` data in the repo given

In [1]:
# import all the neccesary libraries
import numpy as np
import pandas as pd

### **1. What is the northernmost airport in the United States?**

In [3]:
airport_csv_url = 'https://raw.githubusercontent.com/tidyverse/nycflights13/refs/heads/main/data-raw/airports.csv'
airport_df = pd.read_csv(airport_csv_url)
airport_df.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [6]:
airport_df['name'].value_counts()

name
Municipal Airport                       5
All Airports                            3
Dillingham                              2
Penn Station                            2
Executive                               2
                                       ..
Willow Run                              1
Yakima Air Terminal McAllister Field    1
Chan Gurney                             1
Youngstown Warren Rgnl                  1
Yuma Mcas Yuma Intl                     1
Name: count, Length: 1440, dtype: int64

Research

** NorthernMost:situated in or facing or moving toward or coming from the north - https://www.vocabulary.com/dictionary/northernmost.

** EasternMost - The easternmost part of an area or the easternmost place is the one that is farthest towards the east. - https://www.collinsdictionary.com/english-language-learning/easternmost

### Northernmost airport

When looking at the most Northernmost airport, we need to sort the lat which is the Northern value of the geolocation of the airport on the earth surface. By sorting this we will get the list of the Northernmost airports. THe nothermoost which is the latiude is the vertical part of goeridnate sytsem thta is positive when it is negative it is the Southernmost.

In [ ]:
# Sort by latto sort  the airport by their nothernmost (latitude) position
northernmost_airports = airport_df.sort_values(by="lat", ascending=False)
# get the top 5
top5_nothernmost = northernmost_airports.head(5)
top5_nothernmost

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

In [8]:
# get just the names of the top 5
top5_nothernmost.name

417                       Dillant Hopkins Airport
230                    Wiley Post Will Rogers Mem
110                            Wainwright Airport
708                                 Wainwright As
152    Atqasuk Edward Burnell Sr Memorial Airport
Name: name, dtype: object

The top 5 Northernmost airports are

1. Dillant Hopkins Airport
2. Wiley Post Will Rogers Mem
3. Wainwright Airport
4. Wainwright As
5. Atqasuk Edward Burnell Sr Memorial Airport

###  **2. What is the easternmost airport in the United States?**

### Easternmost Airport
THe horinzontal line that runs across the earth is called the latitude, when it is postive it is at the Easternmost while when it is negative is the called WEstern msot , due to the negative postition of the US geolocation on the earth coordinate system, the easternmost part of US will be area with lesser negative value as theya re cclosese to the eathern postive part.

In [9]:
# Sort by lon to sort the airport by their easternmost (longitude) position
easternmost_airports = airport_df.sort_values(by="lon", ascending=True)
# get the top 5
top5_easternmost = easternmost_airports.head(5)
top5_easternmost

,faa,name,lat,lon,alt,tz,dst,tzone
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage

In [10]:
# get just the names of the top 5
top5_easternmost.name

95          Adak Airport
112         Atka Airport
522      Gambell Airport
1281    Savoonga Airport
1251      St Paul Island
Name: name, dtype: object

##### **The top 5 Eastenmost airports are:**

**1. Adak Airport**

**2. Atka Airport**

**3. Gambell Airport**

**4. Savoonga Airport**

**5. St Paul Island**

### **3. On February 12th, 2013, which New York area airport had the windiest weather?**

In [11]:
weather_csv_url = "https://raw.githubusercontent.com/tidyverse/nycflights13/refs/heads/main/data-raw/weather.csv"
weather_df = pd.read_csv(weather_csv_url)
weather_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [5]:
weather_df['origin'].value_counts()

origin
JFK    8706
LGA    8706
EWR    8703
Name: count, dtype: int64

In [12]:
# Filter for February 12, 2013
weather_nyc = weather_df[(weather_df["year"] == 2013) & 
                      (weather_df["month"] == 2) & 
                      (weather_df["day"] == 12)]

# Find the max wind speed for each airport
windiest_airport = weather_nyc.groupby("origin")["wind_speed"].max().reset_index()

# Get the airport with the highest wind speed
windiest_airport = windiest_airport.sort_values(by="wind_speed", ascending=False).head(1)
windiest_airport

  origin  wind_speed
0    EWR  1048.36058

##### **The weather data consists of reports from three airports: JFK (John F. Kennedy International Airport), LGA (LaGuardia Airport), and EWR (Newark Liberty International Airport).**

##### **The windiest airport on February 12, 2013, was EWR (Newark Liberty International Airport), recording a maximum wind speed of 1,048.38.**