Week 7 Assignment

Name: Anisul Arman

Course_ID: IS 362 Data Acquisition and Management .

In [33]:
import pandas as pd

In [34]:
# load data using the csv
rating_df = pd.read_csv('movies_rating.csv')
rating_df.head()

,Reviewer,House of Dragon,Night Action,Squid Game,Captain America,Beast,Kingdom
0,Samuel,3,5,1,1,5,3
1,Dan,1,1,2,1,5,3
2,maurice,4,2,4,4,1,5
3,Jakes,5,4,5,5,2,5
4,John,4,5,5,5,3,4

In [35]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer         5 non-null      object
 1   House of Dragon  5 non-null      int64
 2   Night Action     5 non-null      int64
 3   Squid Game       5 non-null      int64
 4   Captain America  5 non-null      int64
 5   Beast            5 non-null      int64
 6   Kingdom          5 non-null      int64
dtypes: int64(6), object(1)
memory usage: 412.0+ bytes

In [36]:
## show average rating for each users
average_per_reviewer = rating_df.set_index("Reviewer").mean(axis=1)
average_per_reviewer

Reviewer
Samuel     3.000000
Dan        2.166667
maurice    3.333333
Jakes      4.333333
John       4.333333
dtype: float64

In [37]:
## show average rating for each movie
average_per_movie = rating_df.set_index("Reviewer").mean(axis=0)
average_per_movie

House of Dragon    3.4
Night Action       3.4
Squid Game         3.4
Captain America    3.2
Beast              3.2
Kingdom            4.0
dtype: float64

In [38]:
# Set "Reviewer" as index
rating_numeric = rating_df.set_index("Reviewer")

# Apply Min-Max Normalization
normalized_rating_df = (rating_numeric.sub(rating_numeric.min(axis=1), axis=0))
normalized_rating_df = normalized_rating_df.div(rating_numeric.max(axis=1) - rating_numeric.min(axis=1), axis=0)

normalized_rating_df

,House of Dragon,Night Action,Squid Game,Captain America,Beast,Kingdom
Reviewer,,,,,,
Samuel,0.50,1.000000,0.00,0.00,1.0,0.5
Dan,0.00,0.000000,0.25,0.00,1.0,0.5
maurice,0.75,0.250000,0.75,0.75,0.0,1.0
Jakes,1.00,0.666667,1.00,1.00,0.0,1.0
John,0.50,1.000000,1.00,1.00,0.0,0.5

In [39]:
# Calculating average for normalized reviewer
avg_normalized_reviewer = normalized_rating_df.mean(axis=1)
avg_normalized_reviewer

Reviewer
Samuel     0.500000
Dan        0.291667
maurice    0.583333
Jakes      0.777778
John       0.666667
dtype: float64

In [40]:
# Calculating average for movies review
avg_normalized_movie = normalized_rating_df.mean(axis=0)
avg_normalized_movie

House of Dragon    0.550000
Night Action       0.583333
Squid Game         0.600000
Captain America    0.550000
Beast              0.400000
Kingdom            0.700000
dtype: float64

## Conclusion


Normalizing the movie ratings helped me compare users’ preferences more fairly, removing biases from those who tend to rate consistently high or low. For example, while one user may rate all movies between 1 and 3, and another between 3 and 5, normalization brings their ratings onto the same scale. This ensures that I analyze each user’s preferences relative to their own rating style rather than the absolute scores. By doing so, I get a clearer picture of which movies each reviewer liked most or least, regardless of their overall rating habits.

## Extra Credit

In [41]:
# Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

# To answer the question i am going to divide all the numbers in the rating by 5 which is the maxiumum number so that all the rating can be scalled down to be between 0 and 1
rating_numeric = rating_df.set_index("Reviewer")

# Scale ratings by dividing by the maximum rating (5)
standardized_rating_df = rating_numeric / 5  

# Display scaled ratings
standardized_rating_df

,House of Dragon,Night Action,Squid Game,Captain America,Beast,Kingdom
Reviewer,,,,,,
Samuel,0.6,1.0,0.2,0.2,1.0,0.6
Dan,0.2,0.2,0.4,0.2,1.0,0.6
maurice,0.8,0.4,0.8,0.8,0.2,1.0
Jakes,1.0,0.8,1.0,1.0,0.4,1.0
John,0.8,1.0,1.0,1.0,0.6,0.8

In [42]:
# average scaled ratings for each user
user_avg = standardized_rating_df.mean(axis=1) 
user_avg

Reviewer
Samuel     0.600000
Dan        0.433333
maurice    0.666667
Jakes      0.866667
John       0.866667
dtype: float64

In [43]:
# average scaled ratings for each movie
movie_avg = standardized_rating_df.mean(axis=0)
movie_avg

House of Dragon    0.68
Night Action       0.68
Squid Game         0.68
Captain America    0.64
Beast              0.64
Kingdom            0.80
dtype: float64